<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
<!-- <section class="banner d-flex justify-content-center align-items-center "></section> -->
<section>

  <!-- Starting point of login page by nishant -->
  <div id="login">

    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="login-box" style="height: 250px;" class="col-md-12">

            <h3>Enter New Password</h3>

            <form th:action="@{/change-password}" method="post">

              <div class="form-group">

                <input name="newpassword" required type="text" placeholder="Enter new password here" class="form-control">

              </div>

              <div class="container text-center">
                <button class="btn btn-success">Change Password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End point of login page by nishant -->



</section>

</body>
</html>